.commitBody {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 24px 32px;
}

.person {
    display: flex;
    gap: 32px;
}


.headerMessage {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.194444px;
    color: #3A4374;
}

.title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
    margin-bottom: 17px;
}

.reply {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
}

.persomMessage {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #647196;
}